@media screen and (min-width: 1100px){
    .header .button {
        transform: translateY(-10px);
      }
      .generatorCanvas{
        margin-bottom: var(--x2);
      }
      .menuNavigation {
        display: flex;
        flex-wrap: wrap;
    }

    .concept img {
        height: 258px;
        width: max-content;
        margin-bottom: var(--x2);
    }
}