@media screen and (min-width: 1100px){
    .header .button {
        transform: translateY(-10px);
      }
      .generatorCanvas{
        margin-bottom: var(--x2);
      }
      .menuNavigation {
        display: flex;
        flex-wrap: wrap;
    }

    .concept img {
        height: 258px;
        width: max-content;
        margin-bottom: var(--x2);
    }
    .heroBlock{
        max-height: 630px;
        overflow: hidden;
        position: relative;
    }
    .videoSection {
        width: 100%;
        display: flex;
        align-items: center;
        justify-items: center;
        overflow: hidden;
    }
    .column.center{
        display: flex;
        flex-flow: column;
        align-items: center;
    }
    .center p{
        text-align: center;
    }
    .center a.button {
        margin-right: var(--x);
        margin-left: var(--x);
      }
}