:root{
  --pink: #FE25A7;
  --lightgrey: #CCF1F6;
  --darkBlue: #110F2C;
  --blue: #1AB3D5;
  --black:#03081B;
  --white: white;
  
  --h1TextStyle: 80px;
  --h2TextStyle: 40px;
  --h3TextStyle: 24px;
  --regularTextStyle: 16px;
  
  --h1MobileTextStyle: 30px;
  --h2MobileTextStyle: 20px;
  --h3MobileTextStyle: 14px;
  --regularMobileTextStyle: 14px;

  --h1TabletTextStyle: 40px;
  --h2TabletTextStyle: 24px;
  --h3TabletTextStyle: 16px;
  --regularTabletTextStyle: 16px;
  
  --x: 10px;
  --x2: 20px;
  --x3: 30px;
  --x4: 40px;
  --x6: 60px;
  --x8: 80px;
}
*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'Golos_Regular';
  src: url('../fonts/Golos Text_Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Golos_Bold';
  src: url('../fonts/Golos Text_Bold.ttf')  format('truetype');
}
body {
  font-family: "Golos_Regular";
  font-size: var(--regularTextStyle);
  line-height: 150%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  background-color: var( --darkBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.column {
  padding-right: var(--x4);
}
.column.border {
  border-bottom: 1px solid var( --blue);
  padding-bottom: var(--x8);
}
.width2 {
  flex: 2;
}
.width1 {
  flex: 1;
}

.width3 {
  flex: 3;
}
.width5 {
  flex: 5;
}
.width4 {
  flex: 4;
}
.width6 {
  flex: 6;
}
.width9 {
  flex: 9;
}

div#root {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.section {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-bottom: var(--x6);
  padding-top: var(--x6);
}
h1 {
  font-size: var(--h1TextStyle);
  font-family: "Golos_Bold";
  line-height: 125%;
  max-width: 80%;
  text-transform: uppercase;
}
h2 {
  font-size: var(--h2TextStyle);
  font-family: "Golos_Bold";
  margin-bottom: var(--x2);
  line-height: 125%;
}
h3 {
  font-size: var(--h3TextStyle);
  font-family: "Golos_Bold";
  margin-bottom: var(--x2);
  line-height: 125%;
}

h1:after {
  content: '';
  display: block;
  width: 100px;
  height: 35px;
  background-image: url("../logoFiit.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
  transform: translateY(10px);
}
.js:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../logoJS.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
  transform: translate(50px, -27px);
}

.js {
  padding-right: 30px;
}








