:root{
  --pink: #FE25A7;
  --lightgrey: #CCF1F6;
  --darkBlue: #110F2C;
  --blue: #1AB3D5;
  --black:#03081B;
  --white: white;
  
  --h1TextStyle: 80px;
  --h2TextStyle: 40px;
  --h3TextStyle: 24px;
  --regularTextStyle: 16px;
  
  --h1MobileTextStyle: 30px;
  --h2MobileTextStyle: 20px;
  --h3MobileTextStyle: 14px;
  --regularMobileTextStyle: 14px;

  --h1TabletTextStyle: 40px;
  --h2TabletTextStyle: 24px;
  --h3TabletTextStyle: 16px;
  --regularTabletTextStyle: 16px;
  
  --x: 10px;
  --x2: 20px;
  --x3: 30px;
  --x4: 40px;
  --x6: 60px;
  --x8: 80px;
}
*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'Golos_Regular';
  src: url('../fonts/Golos Text_Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Golos_Bold';
  src: url('../fonts/Golos Text_Bold.ttf')  format('truetype');
}
body {
  font-family: "Golos_Regular";
  font-size: var(--regularTextStyle);
  line-height: 150%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  background-color: var( --darkBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.column {
  padding-right: var(--x2);
  padding-left: var(--x2);
}
.column.border {
  border-bottom: 1px solid var( --blue);
  padding-bottom: var(--x8);
}
.width2 {
  flex: 2;
}
.width1 {
  flex: 1;
}

.width3 {
  flex: 3;
}
.width5 {
  flex: 5;
}
.width4 {
  flex: 4;
}
.width6 {
  flex: 6;
}
.width8 {
  flex: 8;
}
.width9 {
  flex: 9;
}
.width12 {
  flex: 12;
}

div#root {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.section {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-bottom: var(--x6);
  padding-top: var(--x6);
}
.content {
  display: flex;
  flex-flow: row;
  max-width: 1400px;
  width: 90%;
}
h1 {
  font-size: var(--h1TextStyle);
  font-family: "Golos_Bold";
  line-height: 125%;
  max-width: 80%;
  text-transform: uppercase;
}
h2 {
  font-size: var(--h2TextStyle);
  font-family: "Golos_Bold";
  margin-bottom: var(--x2);
  line-height: 125%;
}
h3 {
  font-size: var(--h3TextStyle);
  font-family: "Golos_Bold";
  margin-bottom: var(--x2);
  line-height: 125%;
}

h1:after {
  content: '';
  display: block;
  width: 100px;
  height: 35px;
  background-image: url("../logoFiit.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
  transform: translateY(10px);
}
.mobileMenu {
  height: var(--x4);
  width: var(--x4);
  background-image: url("../menu.svg");
  display: none;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.js:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("../logoJS.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
  transform: translate(50px, -27px);
}

.js {
  padding-right: 30px;
}

.controlsCard {
  display: flex;
  margin-bottom: var(--x3);
}
.range {
  margin-bottom: var(--x2);
}

.controlsHeader {
  text-align: right;
  margin-right: var(--x5);
  flex: 1 1;
  font-size: var(--h3TextStyle);
  font-family: 'Golos_Bold';
}

.controlsBlock {
  flex: 2;
}

.rangeInfo {
  display: flex;
  margin-bottom: var(--x);
  justify-content: space-between;
}

div#generatorResultColumn {
  display: flex;
  flex: 2;
  flex-flow: column;
  align-items: center;
}

.rangeLineDiv {
  width: 100%;
  height: 10px;
  background-color: var(--white);
  border-radius: 5px;
}

.rangePointDiv {
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 43px;
  transform: translate(-5px, -4px);
  background-color: var(--white);
  border: 3px solid var(--pink);
}
input.myRange {
  position: absolute;
  width: 100%;
  opacity: .05;
}
.RangeLine {
  position: relative;
}

.rangeFillDiv {
  pointer-events: none;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  background-color: var(--pink);
}

.rangePointDiv {
    pointer-events: none;
}
input[type="radio"]{
  display: none;
}

label {
  padding: var(--x) var(--x2);
  display: block;
  cursor: pointer;
  border-radius: 60px;
  transition: background-color 500ms, color 500ms;
}

input[type="radio"]:checked+label{
  background-color: var(--white);
  color: var(--black);
}

div#ControlsPanel {
  margin-top: var(--x6);
}

.button {
  padding: var(--x) var(--x2);
  background-color: var( --pink);
  border-radius: var(--x4);
  color: var( --white);
  cursor: pointer;
  margin-right: var(--x2);
  transition: background-color 500ms, color 500ms;
}
.button:hover {
  color: var( --black);
  background-color: var( --white);
}

.fixContainer {
  align-items: center;
  flex-flow: column;
  position: fixed;
  display: flex;
  width: 60%;
}

img {
  max-width: 100%;
  max-height: 500px;
}
img.examples {
  width: 100%;
  max-height: none;
  height: auto;
}
.section.lightgrey{
  background-color: var(--lightgrey);
  color: var(--black);
}
.section.white{
  background-color: var(--white);
  color: var(--black);
}
.section.black{
  background-color: var(--black);
}

.aboutGeraldic {
  display: flex;
  margin-bottom: var(--x1);
}

img.aboutGeraldic {
  width: 20px;
  height: 20px;
  margin-left: var(--x);
}
.bottom .content {
  align-items: flex-end;
}
img.person {
  width: 100px;
  height: 100px;
  margin-right: var(--x2);
}

.person {
  display: flex;
  align-items: center;
}

.buttonRow {
  display: flex;
}

p {
  margin-bottom: var(--x2);
}
.person p {
  margin-bottom: 0px;
}

.column.arrow {
    position: relative;
}

.heroBlock .content .column {
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: space-evenly;
}
.heroBlock .content {
  height: 100%;
}

img.jetLogo {
  width: 70px;
}
.RadioRow {
  display: flex;
  margin-right: var(--x2);
  margin-bottom: var(--x2);
  border: 1px solid var(--white);
  border-radius: 80px;
  width: max-content;
}

.radioBlock {
  display: flex;
}
.vertical .radioBlock{
  flex-flow: column;
}

label.colorRadio:before {
  content: '';
  display: block;
  height: var(--x2);
  width: var(--x2);
  transform: translateY(2px);
  border-radius: 30px;
}

label.colorRadio.pink:before{
  background-color: var(--pink);
}
label.colorRadio.blue:before{
  background-color: var(--blue);
}
label.colorRadio.white:before{
  background-color: var(--white);
  border: 1px solid var(--black)
}
label.colorRadio.white_pink:before{
  background: linear-gradient(90deg, var(--white) 0%, var(--pink) 100%);
  border: 1px solid var(--black)
}
label.colorRadio.white_blue:before{
  background: linear-gradient(90deg, var(--white) 0%, var(--blue) 100%);
  border: 1px solid var(--black)
}
label.colorRadio.pink_blue:before{
  background: linear-gradient(90deg, var(--pink) 0%, var(--blue) 100%);
  border: 1px solid var(--black)
}
label.colorRadio {
  height: 24px;
  padding: 10px 13px;
}

.column.horizontal_center {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.colorSwatch {
  cursor: pointer;
  width: calc(24% - var(--x6));
  margin-bottom: var(--x2);
  height: var(--x6);
  margin-right: var(--x);
  margin-left: var(--x);
  padding: var(--x2);
  border-radius: var(--x);
}
.colorSwatches {
  display: flex;
  flex-wrap: wrap;
}

.colorSwatch.blue {
  background-color: var(--blue);
}
.colorSwatch.white {
  background-color: var(--white);
  color: var(--black);
  border:1px solid var(--lightgrey)
}
.colorSwatch.pink {
  background-color: var(--pink);
}
.colorSwatch.black {
  border:1px solid var(--lightgrey);
  background-color: var(--black);
  color: var(--white);
}
.colorSwatch.darkBlue {
  border:1px solid var(--lightgrey);
  background-color: var(--darkBlue);
  color: var(--white);
}
.colorSwatch.pink_blue{
  background: var(--pink);
  background: linear-gradient(90deg, var(--pink) 0%, var(--blue) 100%);
}
.colorSwatch.white_pink{
  background: var(--pink);
  background: linear-gradient(90deg, var(--white) 0%, var(--pink) 100%);
}
.colorSwatch.white_blue{
  background: var(--pink);
  background: linear-gradient(90deg, var(--white) 0%, var(--blue) 100%);
}
.header {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-top: var(--x4);
  padding-bottom: var(--x3);
  position: fixed;
  width: 100%;
  z-index: 5;
  background: var(--darkBlue) /*linear-gradient(0deg, rgba(0,0,0,0) 0%, var(--darkBlue) 40%);*/
}
a.menuUnit {
  text-decoration: none;
  margin-right: var(--x2);
  color: var(--pink);
  transition: color 500ms;
}
a.menuUnit:hover {
  color: var(--white);
}


.header .content {
  justify-content: space-between;
}
.heroBlock .content{
  position: absolute;
  z-index: 3;
}

canvas.interactionCanvas {
  width: 100%;
  height: auto;
  max-width: 100%;
}

g#logo_FIIT path{
  transition: fill 500ms;
}

g#logo_FIIT.pink path{
  fill: var(--pink)
}
g#logo_FIIT.white path{
  fill: var(--white)
}
g#logo_FIIT.blue path{
  fill: var(--blue)
}



.horizontal img.examples {
  width: calc(50% - var(--x4));
  height: auto;
  margin-right: var(--x4);
}
a.button {
  text-decoration: none;
}
.section.nopadding_bottom{
  padding-bottom: 0px;
}
.section.nopadding_top{
  padding-top: 0px;
}

.section.center .content {
  display: flex;
  flex-flow: column;
  justify-items: center;
}

.section.gradient{
  background: radial-gradient(129.31% 452.65% at 127.84% 43.79%, #0F1B47 0%, rgba(84, 18, 85, 0.93) 100%);
}

.section.gradientBlack{
  background: linear-gradient(0deg, #03081B 0%, rgba(3, 8, 27, 0) 94.52%);
}
.heraldicString{
  display: flex;
  align-items: center;
}

.center .colorSwatch p{
  text-align: left;
}
.videoSection {
  width: 100%;
}
video {
  width: 100%;
}
.controls_pattern {
  overflow: hidden;
}

div.person {
  margin-bottom: var(--x2);
  margin-right: var(--x2);
  flex-basis: calc(25% - var(--x2));
  min-width: 250px;
}
.persons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.processClip img {
  width: 100%;
  max-height: none;
  margin-top: 0px;
  margin-bottom: 0px;
}

.processClip {
  height: 0px;
  
  overflow: hidden;
}
.processClip.open{
  display: contents;
  height: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--x4);
}

.link {
  color: var(--pink);
  cursor: pointer;
  transition: color 500ms;
}

.link:hover{
  color: var(--white);
}

.footer img {
  margin-top: 0px;
}