@media screen and (max-width: 1100px){
    .section.mobile_border {
        border-bottom: 1px solid var(--blue);
        margin-bottom: var(--x4);
    }
    .column.horizontal {
        align-items: center;
    }
    .horizontal img {
        width: 44%;
    }
    .colorSwatch {
        width: calc(49% - var(--x6));
    }
    .tablet_none {
        display: none;
    }
    .buttonRow {
        margin-bottom: var(--x4);
    }
    .bracket {
        display: flex;
        flex-flow: column;
    }
    .column.width2.bigpic {
        padding-bottom: var(--x4);
    }
    .f_letter .bigpic {
        padding-bottom: var(--x4);
    }
    .RadioRow {
        margin-bottom: var(--x4);
    }
    .bracket_examples {
        display: flex;
        align-items: flex-start;
    }
   
}