:root{
  --pink: #FE25A7;
  --lightgrey: #CCF1F6;
  --darkBlue: #110F2C;
  --blue: #1AB3D5;
  --black:#03081B;
  --white: white;
  --regularTextStyle: 16px;
  --regularMobileTextStyle: 14px;
  --h1TextStyle: 60px;
  --h2TextStyle: 40px;
  --h1MobileTextStyle: 30px;
  --h3TextStyle: 24px;
  --h3MobileTextStyle: 16px;
  --module: 10px
}
*{
  margin: 0px;
  padding: 0px;
}
@font-face {
  font-family: 'Golos_Regular';
  src: url('./fonts/Golos Text_Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Golos_Bold';
  src: url('./fonts/Golos Text_Bold.ttf')  format('truetype');
}
body {
  font-family: "Golos_Regular";
  font-size: var(--regularTextStyle);
  line-height: 150%;
  margin: 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--white);
  background-color: var( --darkBlue);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.column {
  padding-right: calc(var(--module) * 4);
}
.column.border {
  border-bottom: 1px solid var( --blue);
  padding-bottom: calc(var(--module) * 8);
  padding-top: calc(var(--module) * 8);
}
.width2 {
  flex: 2;
}
.width1 {
  flex: 1;
}

.width3 {
  flex: 3;
}
.width5 {
  flex: 5;
}
.width4 {
  flex: 4;
}
.width6 {
  flex: 6;
}
.width9 {
  flex: 9;
}

div#root {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.section {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-bottom: calc( var(--module) * 6);
  padding-top: calc( var(--module) * 6);
}
.content {
  display: flex;
  flex-flow: row;
  max-width: 1400px;
  width: 100%;
}
h1 {
  font-size: var(--h1TextStyle);
  font-family: "Golos_Bold";
  line-height: 125%;
}
h2 {
  font-size: var(--h2TextStyle);
  font-family: "Golos_Bold";
  margin-bottom: calc(var(--module) * 2);
  line-height: 125%;
}
h3 {
  font-size: var(--h3TextStyle);
  font-family: "Golos_Bold";
  margin-bottom: calc(var(--module) * 2);
  line-height: 125%;
}

h1:after {
  content: '';
  display: block;
  width: 100px;
  height: 35px;
  background-image: url("logoFiit.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
}
.js:after {
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  background-image: url("logoJS.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 1001;
  transform: translate(50px, -27px);
}

.js {
  padding-right: 30px;
}

.controlsCard {
  display: flex;
  margin-bottom: calc(var(--module) * 3);
}
.Radio{
  margin-bottom: calc( 1.5 * var(--module));
  margin-top: 5px;
}
.range {
  margin-bottom: calc(var(--module) * 2);
}

.controlsHeader {
  text-align: right;
  margin-right: calc(var(--module) * 5);
  flex: 1 1;
  font-size: var(--h3TextStyle);
  font-family: 'Golos_Bold';
}

.controlsBlock {
  flex: 2;
}

.rangeInfo {
  display: flex;
  margin-bottom: var(--module);
  justify-content: space-between;
}

div#generatorResultColumn {
  display: flex;
  flex: 2;
  flex-flow: column;
  align-items: center;
}

.rangeLineDiv {
  width: 100%;
  height: 10px;
  background-color: var(--white);
  border-radius: 5px;
}

.rangePointDiv {
  height: 12px;
  width: 12px;
  position: absolute;
  border-radius: 43px;
  transform: translate(-5px, -4px);
  background-color: var(--white);
  border: 3px solid var(--pink);
}
input.myRange {
  position: absolute;
  width: 100%;
  opacity: .05;
}
.RangeLine {
  position: relative;
}

.rangeFillDiv {
  pointer-events: none;
  height: 100%;
  border-radius: 15px;
  position: absolute;
  background-color: var(--pink);
}
canvas {
  max-width: 60%;
  height: auto !important;
  margin-bottom: calc(var(--module) * 3)
}

.rangePointDiv {
    pointer-events: none;
}
input[type="radio"]{
  display: none;
}

input[type="radio"]+label:before{
  content: '';
  display: block;
  float: left;
  height: 20px;
  margin-top: 10px;
  margin-right: var(--module);
  width: 20px;
  border-radius: 43px;
  transform: translate(-5px, -11px);
  border: 3px solid var(--white);
}
input[type="radio"]:checked+label:before{
  background-color: var(--white);
}

div#ControlsPanel {
  margin-top: calc(var(--module) * 6);
}

.button {
  padding: var(--module) calc(var(--module) * 2);
  background-color: var( --pink);
  border-radius: calc(var(--module) * 4);
  color: var( --white);
  cursor: pointer;
  margin-right: calc(var(--module) * 2);
}

.fixContainer {
  align-items: center;
  flex-flow: column;
  position: fixed;
  display: flex;
  width: 60%;
}

.footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 60%;
  align-items: inherit;
  justify-content: space-evenly;
  background-color: var(--darkBlue);
  padding: calc(var(--module) * 2);
}
img {
  max-width: 100%;
  max-height: 500px;
}
img.examples {
  width: 100%;
  max-height: none;
  height: auto;
}
.section.lightgrey{
  background-color: var(--lightgrey);
  color: var(--black);
}
.section.white{
  background-color: var(--white);
  color: var(--black);
}
.column.center{
  display: flex;
  flex-flow: column;
  align-items: center;
}
.aboutGeraldic {
  display: flex;
  margin-bottom: calc(var(--module) * 4);
}

img.aboutGeraldic {
  width: 100px;
  margin-right: calc(var(--module) * 4);
}
.bottom .content {
  align-items: flex-end;
}
img.person {
  width: 100px;
  margin-right: calc(var(--module) * 4);
}

.person {
  display: flex;
  align-items: center;
}

.buttonRow {
  display: flex;
}

p {
  margin-bottom: calc(var(--module) * 4);
}
.person p {
  margin-bottom: 0px;
}

.column.arrow:after {
  position: absolute;
  content: '';
  transform: translateY(50px);
  margin-left: calc(50% - 77px);
  display: block;
  background: var(--darkBlue) url(./arrow.svg);
  width: 100px;
  height: 60px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.column.arrow {
    position: relative;
}


