@media screen and (max-width: 1000px){
    body{
        font-size: var(--regularMobileTextStyle);
    }
    div#root {
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    input[type="radio"]+label:before {
        height: 16px;
        width: 16px;
        border: 1px solid var(--white);
        transform: translate(0px, -11px);
    }
    .fixContainer {
        position: fixed;
        width: 100%;
        z-index: 100;
        top: 0px;
        background-color: var(--darkBlue);
    }
    
    h1 {
        font-size: var(--h1MobileTextStyle);
    }
    .controlsCard {
        flex-flow: column;
    }
    .controlsHeader {
        text-align: left;
        font-size: var(--h3MobileTextStyle);
    }
    canvas {
        max-width: none;
        max-height: 30vh;
        height: 30vh;
        width: auto !important;
        margin-bottom: 0px;
    }
    .footer {
        width: 100%;
        z-index: 100;
        padding: calc(var(--module) * 1);
    }
    div#ControlsPanel {
        margin-top: 50vh;
        margin-bottom: 20vh;
        max-width: 30vh;
        min-width: 300px;
    }
    .controlsHeader {
        margin-bottom: calc(var(--module) * 2);
    }

}